.vscode
output.html
/temp/cred.py
/__pycache__/
/temp/airportList/airportList_*.csv
/temp/doneAirportList/doneAirportList_*.csv
/*json
/notes.txt
/flightRequest.csv
/workspace.code-workspace
/phpSessionReq.pickle
