.flashes {
    position: absolute;
    top: 50vh;
    width: 100%;
    border-radius: 1em;
}

.flashes li {
    margin: 1em;
    padding: 1.2em;
    border-radius: 1em;
}

.info {
    background-color: lightgray;
}

.warning {
    background-color: rgb(255, 255, 176);
    color: rgb(109, 109, 0);
}

.error {
    background-color: rgb(255, 108, 108);
    color: red;
}