<.header>
  New Aircraft
  <:subtitle>Use this form to manage aircraft records in your database.</:subtitle>
</.header>

<.aircraft_form changeset={@changeset} action={~p"/accounts/#{@account_id}/aircraft"} />

<.back navigate={~p"/accounts/#{@account_id}/aircraft"}>Back to aircraft</.back>
