<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/base.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
    </style>
    {% endblock %}
</head>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<body>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="/" class="brand-logo">Auto AE</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if current_user.is_authenticated %}
                    <li {% if active_page == "flight" %} class="active"{% endif%}><a href="/ae/flight">Flight</a></li>
                    <li {% if active_page == "aircraft" %} class="active"{% endif%}><a href="/ae/aircrafts">Aircraft</a></li>
                    <li {% if active_page == "airlines" %} class="active"{% endif%}><a href="/ae/airlines">Airlines</a></li>
                    <li {% if active_page == "aeConnect" %} class="active"{% endif%}><a href="/ae/connect">AE Connect</a></li>
                    <li><a href="/auth/logout">{{current_user.username}} Logout</a></li>    
                {% else %}
                    <li {% if active_page == "login" %} class="active"{% endif%}><a href="/auth/login">Login</a></li>
                    <li {% if active_page == "register" %} class="active"{% endif%}><a href="/auth/register">Register</a></li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
    <div id="container" style="height: 100%;">
        {% block container %}{% endblock %}
    </div>
</body>

</html>