{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% set active_page = "login" %}

{% block container %}
<div id="container">
    <form action="{{postReqUrl}}" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <a href="/auth/register">Register new account?</a>
    {% if errorMsg is not none %}
        {{errorMsg}}
    {% endif %}
</div>
{% endblock %}