{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% set active_page = "register" %}

{% block container %}
<div id="container">
    <form action="{{postReqUrl}}" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Register">
    </form>
    <a href="/auth/login">Have an account?</a>
    {% if errorMsg is not none %}
        {{errorMsg}}
    {% endif %}
    
    <script>
        M.AutoInit();
    </script>
</div>
{% endblock %}